# EditorConfig: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*.{ts,json,config}]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
trim_trailing_whitespace = true